<!DOCTYPE html>

<html>

   <head>
      <title>Request Header Parser</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
        <h2>API Project: Request Header Parser Microservice</h2>
        <h3>User Story: </h3>
        1. I can get the IP address, preferred languages (from header <code>Accept-Language</code>)<br> and system infos (from header <code>User-Agent</code>) for my device.

        <h3>Example Usage:</h3>
        <p>
          [base url]/api/
        </p>

        <h3>Example Output:</h3>
        <p>
          <code>{"ipaddress":"headerpars.glitch.m","language":"el-GR","software":"Windows NT 10.0; WOW64"}</code>
        </p>
      </div>
      <div class="footer">
        <p>
          by <a href="https://github.com/MalvinaPap/headerparser">Malvina</a> 
        </p>
      </div>
   </body>


</html>
